ul, body {
  margin:0px;
  padding:0px;
  font-family: 'Gudea', sans-serif;
}
h1 {
  font-family: 'Oleo Script Swash Caps', cursive;
}
.menu {
  background:#272727;
  width:20%;
  color:#f2f2f2;
  font-size:1.4em;
  height:600px;
  float:left;
}
.menu ul {
  list-style:none;
}
.menu li {
  padding-left:10px;
  border-bottom:1px solid #0068AD;
  background:#202020;
  padding:5px 10px;
}
.menu li:hover {
  background:#272727;
  cursor:pointer;
}
.header {
  float:left;
  background:#0068AD;
  width:80%;
  height:100px;
}
.header h1 {
  text-align:center;
  color:#f2f2f2;
  font-size:2em;
  text-shadow:1px 1px 2px #000;
  float:left;
  line-height:100px;
  margin:0px;
  margin-left:20px;
}
.header p {
  float:left;
  line-height:100px;
  margin:0;
  margin-left:20px;
  background:#00538A;
  border-left:1px solid #f2f2f2;
  border-right:1px solid #f2f2f2;
  color:#f2f2f2;
  padding:0 5px;
  cursor:pointer;
}
.header-extra {
  height:100px;
  witdh:20%;
  background:#0068AD;
}