.clipboard-list {}

.clipboard-item {
    background: #f8f9fa;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s;
    border-left: 4px solid #667eea;
}

.clipboard-item:hover {
    transform: translateX(5px);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    background: rgb(10, 10, 123);

    button, .favorite-star {
        transform: translateX(2px);
        color: white;
    }
}

.clipboard-info {
    flex: 1;
    font-weight: 600;
    color: #333;
    word-break: break-all;
    font-size: 24px;
    padding: 8px;
    display: flex;
}

.clipboard-btn {
    padding: 8px 16px;
    margin-right: 10px;
    background: transparent;
    color: black;
    flex: 1;
    text-align: left;
}